<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
</head>
<body>
    <h2>Activate Your Account</h2>
    <p>Hello {{ user.username }},</p>
    <p>Thank you for registering on our site. Please click the link below to activate your account:</p>
    <a href="http://{{ domain }}{% url 'activate' uid=uid token=token %}">Activate Account</a>
    <p>If you did not sign up for an account, please ignore this email.</p>
</body>
</html>
